
   <div class="home-signin">
   <form class="form-signin">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <mat-form-field class="signin-full-width">
                    <input matInput placeholder="Username" value="">
                  </mat-form-field>
                
                  <mat-form-field class="signin-full-width">
                          <input matInput type="password" placeholder="password"> 
                  </mat-form-field>
            <div class="checkbox mb-3">
                    <mat-checkbox>Check me!</mat-checkbox>
    
            </div>
            <button mat-flat-button color="primary">Signin</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
          </form>
          </div>
      




                      

  
  